<template>
  <v-form ref="form" v-model="valid" @keyup.enter="save" @submit.prevent="pushValue" lazy-validation>
    <v-text-field
      ref="field"
      v-model="value"
      :append-icon="value ? 'send' : ''"
      box
      clear-icon="close"
      clearable
      :label="label"
      type="number"
      maxlength="settings.counter"
      :rules="[ruleRequired, ruleCounter, ruleUniquie]"
      :counter="settings.counter"
      :loading="loading"
      @click:append="pushValue"
      @click:clear="clearValue"
      @keydown="keydown"
      validate-on-blur
      :disabled="isHiddenNumberSolved"
    >
    </v-text-field>
  </v-form>
</template>

<script>
  import _ from 'underscore';
  import {mapGetters, mapActions} from 'vuex';

  export default {
    data: () => ({
      value: null,
      counter: 4,
      loading: false,
      valid: true
    }),
    computed: {
      ...mapGetters({
        settings: 'bulls-and-cows/settings',
        stepsCount: 'bulls-and-cows/stepsCount',
        isHiddenNumberSolved: 'bulls-and-cows/isHiddenNumberSolved'
      }),
      label() {
        return `Укажите значение для ${this.stepsCount + 1} шага`;
      }
    },
    methods: {
      pushValue() {
        if (!this.$refs.form.validate()) {
          console.log(this.$refs.field);
          this.$refs.field.blur();
          return;
        }
        this.loading = true;
        setTimeout(() => {
          this.loading = false;
          this.pushStep({value: this.value});
          this.value = '';
        }, 300);
      },
      clearValue() {
        this.value = '';
      },
      ...mapActions({
        pushStep: 'bulls-and-cows/pushStep'
      }),
      ruleCounter(value) {
        return (value && value.length !== Number(this.settings.counter))
          ? `Введеное число должно быть длинной в ${this.settings.counter} ${this.$lnaDeclension(this.settings.counter, ['символ', 'символа', 'символов'])}`
          : true;
      },
      ruleUniquie(value) {
        if (!value){
          return true;
        }
        return this.value.length === _.uniq(this.value.split('')).length ? true : 'Содержатся не уникальные сиволы';
      },
      ruleRequired(value) {
        return Boolean(value) || 'Обязательное поле';
      },
      keydown: function (event) {
        if ([187, 188, 189, 190, 69].indexOf(event.keyCode) >= 0) {
          event.preventDefault();
        }
      }
    }
  }
</script>
