<template>
  <v-card
    class="mx-auto"
  >
    <v-card-title class="pa-2 blue-grey darken-2">
      <h3 class="title font-weight-light text-xs-center grow">
        Шаги:
      </h3>
    </v-card-title>
    <v-card-text class="py-0">
      <v-timeline>
        <v-timeline-item
          small
          v-for="(item, index) in reverseSteps"
          :key="index"
          :color="calculateClasses(item)"
        >
          <template v-slot:opposite>
            <span>Шаг {{reverseSteps.length - index}}: <code class="title pa-2 mx-2">{{item.inputValue}}</code></span>
          </template>
          <v-layout  pa-3 class="grey darken-2">
            <v-flex xs6 class="text-xs-center">
              <strong class="pr-2">Быков</strong>
              <v-badge left overlap color="blue">
                <template v-slot:badge>
                  <span>{{item.bullsCount}}</span>
                </template>
                <v-avatar>
                  <v-img
                    src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairFrida&accessoriesType=Kurt&hairColor=Red&facialHairType=BeardLight&facialHairColor=BrownDark&clotheType=GraphicShirt&clotheColor=Gray01&graphicType=Skull&eyeType=Wink&eyebrowType=RaisedExcitedNatural&mouthType=Disbelief&skinColor=Brown"
                  ></v-img>
                </v-avatar>
              </v-badge>
            </v-flex>
            <v-divider
              class="xs-2"
              inset
              vertical
            ></v-divider>
            <v-flex xs6 class="text-xs-center">
              <v-badge right overlap color="pink">
                <template v-slot:badge>
                  <span>{{item.cowsCount}}</span>
                </template>
                <v-avatar>
                  <v-img
                    src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairMiaWallace&accessoriesType=Sunglasses&hairColor=BlondeGolden&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Surprised&eyebrowType=RaisedExcited&mouthType=Smile&skinColor=Pale"
                  ></v-img>
                </v-avatar>
              </v-badge>
              <strong class="pl-2">Коров</strong>
            </v-flex>
          </v-layout>
        </v-timeline-item>
      </v-timeline>
    </v-card-text>
  </v-card>
</template>

<script>
  export default {
    props: {
      steps: {
        type: Array
      }
    },
    methods: {
      calculateClasses(item) {
        if (item.isHiddenNumberSolved) {
          return `lime accent-4`;
        }
        if (this.reverseSteps.length / item.bullsCount <= 2) {
          return `amber accent-3`;
        }
        return `red accent-2`;
      }
    },
    computed: {
      reverseSteps: function () {
        return this.steps.slice().reverse()
      }
    }
  }
</script>
