<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-expansion-panel focusable popout :value="0">
          <v-expansion-panel-content>
            <template v-slot:header>
              <h3>Рекомендация: задайте правила эффективного использования кеша для статических объектов</h3>
            </template>
            <v-card>
              <v-card-text>
                <p>При повторных посещениях HTTP-кэширование поможет ускорить загрузку страниц. Это означает, что при
                  следующем посещении браузер будет использовать то, что уже получил ранее.</p>
              </v-card-text>
            </v-card>
          </v-expansion-panel-content>
          <v-expansion-panel-content>
            <template v-slot:header>
              <div>Решение</div>
            </template>
            <v-card>
              <v-card-text class="text-xs-center">
                <v-img min-width="500" max-width="500" style="margin-left: auto;margin-right: auto;" src="/pagespeed/backend.jpg" aspect-ratio="1"></v-img>
                <a href="https://gist.github.com/solancer/a51cf728a119a16f4c6ce494864a2d47" target="_blank">Пример настроек сервера</a>
                <v-btn
                  absolute
                  dark
                  fab
                  bottom
                  right
                  color="primary"
                  :to="{name: 'pagespeed-minimize-main-thread'}"
                  nuxt
                >
                  <v-icon>keyboard_arrow_right</v-icon>
                </v-btn>
              </v-card-text>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-flex>
    </v-layout>
  </v-container>
</template>
