<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-expansion-panel focusable popout :value="0">
          <v-expansion-panel-content>
            <template v-slot:header>
              <h3>Рекомендация: Настройте показ всего текста во время загрузки веб-шрифтов</h3>
            </template>
            <v-card>
              <v-card-text>
                <p>
                  Текст на сайте, для которого назначен нестандартный шрифт, <strong>может быть отображен только после
                  загрузки этого шрифта в браузере</strong> (ведь это могут быть иконки или штрих-коды). Из-за этого в
                  большинстве случаев пользователь видит <strong>белый экран</strong> в браузере пока не загрузились
                  нужные шрифты (а они могут быть очень большого размера).
                </p>
                <p>
                  Веб-разработчики ввели несколько сокращений, описывающих ситуации при загрузке шрифтов на сайте:
                </p>
                <ol class="mb-4">
                  <li>
                    <code>FOIT</code> - (Flash of Invisible Text) –
                    невидимый текст на странице по причине отсутствия шрифта в браузере для его отображения (в некоторых
                    случаях сводится к появлению квадратов на месте иконок)
                  </li>
                  <li>
                    <code>FOUT</code> - (Flash of Unstyled Text) –
                    отрисовка текста в неверной (запасной) гарнитуре по причине отсутствия шрифта
                  </li>
                  <li>
                    <code>FOFT</code> - (Flash of Faux Text) –
                    отрисовка текста в поддельной гарнитуре (лже-наклонной и лже-полужирной), базирующейся на обычном
                    начертании шрифта при отсутствии специальных начертаний
                  </li>
                </ol>
              </v-card-text>
            </v-card>
          </v-expansion-panel-content>
          <v-expansion-panel-content>
            <template v-slot:header>
              <div>Решение</div>
            </template>
            <v-card>
              <v-card-text>
                <ol>
                  <li>
                    <p>
                      Добавить во все не-иконочные определения запасные варианты, максимально соответствующие нужной
                      гарнитуре. На текущий момент кроме большого набора «стандартных» шрифтов браузеры также
                      поддерживают общие начертания serif (с засечками), sans-serif (без засечек), monospace
                      (моноширинные), cursive (от руки), fantasy (декоративные). Каждое назначение гарнитуры в CSS
                      (через правила font*) должно оканчиваться одним из них. Например:
                    </p>
                    <p>
                      <code>font-family: "Avenir Next Cyr", Tahoma, sans-serif;</code>
                    </p>
                  </li>
                  <li>
                    <p>
                      Добавить в директиву для @font-face правило моментального отображения текста при наличии запасного
                      варианта шрифта (это подойдет для не-иконочных шрифтов):
                    </p>
                    <p>
                      <code>font-display: swap</code>
                    </p>
                  </li>
                  <li>
                    <p>
                      Лучшей техникой для наискорейшей загрузки файла шрифта в браузере является тег preload, это
                      позволяет обеспечить готовность файлов шрифтов к моменту отрисовки страницы (после загрузке стилей
                      и блокирующих скриптов). <a href="https://caniuse.com/#search=preload" target="_blank">Он
                      поддерживается 68% браузеров</a>.
                      Например:
                    </p>
                    <p>
                      <code>&lt;link rel=”preload” as=”font” href=”/assets/fonts/AvenirNextCyr-BoldItalic.woff”
                        type=”font/woff” crossorigin&gt;</code>
                    </p>
                    <p>Для эмуляции preload в оставшихся 30% браузеров и более строгого кэширования шрифта через
                      localStorage можно использовать <a
                        href="http://bdadam.com/blog/better-webfont-loading-with-localstorage-and-woff2.html"
                        target="_blank" title="Предварительная загрузка">предварительную загрузку</a> шрифта через XHR.
                      Скрипт, если его
                      вставить в самом верху страницы, в head, позволяет обеспечить вызовы необходимых файлов шрифтов и
                      кэширует их в localStorage. Предварительно файлы шрифтов (правила стилей) должны быть
                      конвертированы в base64 для кэширования в localStorage (бинарные данные не удастся использовать).
                      При использовании этого подхода нужно теги preload обернуть в <code>&lt;noscript&gt;</code> для
                      исключения двойной загрузки шрифта.</p>
                  </li>
                  <li>
                    <p>
                      Для устранения <strong>FOIT</strong> для иконочных шрифтов можно использовать <a
                      href="https://fontfaceobserver.com/" title="Font Face Observer" target="_blank">Font Face
                      Observer</a> и
                      дополнительно
                      ввести CSS класс для загруженного шрифта, инициализирующий font-face правило и назначаемый на html
                      или body. В этом случае без наличия шрифта в браузере не будут отрисованы квадраты вместо иконок,
                      а сразу после загрузки шрифта иконки появятся на странице.
                    </p>
                  </li>
                  <li>
                    <p>
                      Для уменьшения времени <strong>FOUT</strong> при загрузке всех начертаний гарнитуры (нормальное-полужирное,
                      нормальное-наклонная, полужирное-наклонное и т.д.) можно использовать <strong>FOFT</strong> и прописать основной
                      шрифт единственном в нормальном начертании в другой font-family: в примере <a
                      href="https://www.zachleat.com/web-fonts/demos/foft.html" title="LatoInitial" target="_blank">LatoInitial</a>.
                      После
                      проверки загрузки всех остальных начертаний (можно в асинхронном режиме) через Font Face Observer
                      применяются классы, исправляющие ложные начертания шрифта на корректные.
                    </p>
                  </li>
                </ol>
                <p>Вопрос использования <strong>FOFT</strong> для ускорения отображения текста является дискуссионным (во многих случаях
                  проще положиться на запасные шрифты), но может помочь вам в ряде контентных проектов.</p>
                <v-btn
                  absolute
                  dark
                  fab
                  bottom
                  right
                  color="primary"
                  :to="{name: 'pagespeed-third-party-code'}"
                  nuxt
                >
                  <v-icon>keyboard_arrow_right</v-icon>
                </v-btn>
              </v-card-text>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-flex>
    </v-layout>
  </v-container>
</template>
