<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-expansion-panel focusable popout :value="0">
          <v-expansion-panel-content>
            <template v-slot:header>
              <h3>Рекомендация: Минимизируйте работу в основном потоке</h3>
            </template>
            <v-card>
              <v-card-text>
                <p>Ссылки на ресурсы JS, CSS, HTML препятствуют загрузке контента страницы.
                  Неоптимизированный/неиспользуемый JS код</p>
              </v-card-text>
            </v-card>
          </v-expansion-panel-content>
          <v-expansion-panel-content>
            <template v-slot:header>
              <div>Решение</div>
            </template>
            <v-card>
              <v-card-text>
                <ul>
                  <li>Ограничить объем ресурсов, которые отображаются в верхней части страницы</li>
                  <li>Для JS использовать асинхронную загрузку, синхронно грузить в head только то, что требуется для
                    других скриптов, остальное в конце body.
                  </li>
                  <li>
<code class="px-4">
&lt;link onload=&quot;this.rel='stylesheet'&quot; href=&quot;style.css&quot; rel=&quot;preload&quot;/&gt;
</code>
                  </li>
                  <li>Стили для подгружаемого контента загружать динамически с помошью скриптов в body</li>
                  <li>Разбивка CSS по media</li>
                  <li>Минификация кода в продакшн</li>
                </ul>
              </v-card-text>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-flex>
    </v-layout>
  </v-container>
</template>
