<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-expansion-panel focusable popout :value="0">
          <v-expansion-panel-content>
            <template v-slot:header>
              <h3>Рекомендация: Сокращение размера структуры DOM</h3>
            </template>
            <v-card>
              <v-card-text>
                <p>
                  <strong>Объектная модель документа (DOM)</strong>может нанести ущерб
                  производительности страницы, если оно имеет большое дерево. Дерево DOM состоит из объектов, которые
                  называются узлами, например это элементы HTML, текстовое содержимое, закомментированный код и пр.
                  Оптимальное количество узлов в DOM <strong class="light-green">1500</strong>, глубина – 32 узла,
                  количество дочерних и
                  родительских элементов – менее 60.</p>
                <p>Чем может навредить большое DOM дерево:</p>
                <ul>
                  <li>
                    Увеличивает использование памяти
                  </li>
                  <li>
                    Замедлить вычесление стилей, так как при взаимодействии с пользователем пересчитывается вся ветка
                    дерева
                  </li>
                </ul>
              </v-card-text>
            </v-card>
          </v-expansion-panel-content>
          <v-expansion-panel-content>
            <template v-slot:header>
              <div>Решение</div>
            </template>
            <v-card>
              <v-card-text>
                <p>Исправить можно только ручной оптимизацией разметки и сокращением вложенности. Самыми уязвимыми
                  местами является многоуровневая навигация.</p>
                <p>
                  В процессе разработки желательно следить за балансом DOM элементов и не использовать дополнительные
                  обертки если их присутствие можно избежать, примененийте правильные теги, которые подходят в данной
                  ситуации.
                  Продумывайте структуру DOM дерева на этапе эстимации и просмотра макетов. Это может вам помочь найти
                  сложные места, для работы над которыми понадобиться больше времени и усилий.
                </p>
              </v-card-text>
            </v-card>
          </v-expansion-panel-content>
          <v-expansion-panel-content>
            <template v-slot:header>
              <p>Пример 1: Верстка</p>
            </template>
            <v-card>
              <v-card-text>
                <v-container>
                  <v-layout>
                    <v-flex xs6>
                      <p>Мои breadcrumb:</p>
<code class="px-4">
  // HTML
  &lt;div class=&quot;breadcrumbs__wrapper&quot;&gt;
    &lt;div class=&quot;breadcumbs__block&quot;&gt;
      &lt;div class=&quot;breacrumbs-item&quot;&gt;
        &lt;div class=&quot;breacrumbs-item__text&quot;&gt;
          &lt;a href=&quot;/&quot;&gt;
            &lt;span&gt;Home&lt;/span&gt;
          &lt;/a&gt;
          &lt;span class=&quot;breadcrumbs-item__divider&quot;&gt;/&lt;/span&gt;
        &lt;/div&gt;
        &lt;div class=&quot;breacrumbs-item__text&quot;&gt;
          &lt;a href=&quot;/category/&quot;&gt;
            &lt;span&gt;Category&lt;/span&gt;
          &lt;/a&gt;
          &lt;span class=&quot;breadcrumbs-item__divider&quot;&gt;/&lt;/span&gt;
        &lt;/div&gt;
        &lt;div class=&quot;breacrumbs-item__text&quot;&gt;
          &lt;span&gt;Product&lt;/span&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  ... style ....
</code>
                    </v-flex>
                    <v-flex xs6>
                      <p>Breadcrumb адекватного человека:</p>
<code class="px-4">
  // HTML
  &lt;nav class=&quot;breadcrumb-wrapper&quot;&gt;
    &lt;ul class=&quot;breadcrumb&quot;&gt;
      &lt;li class=&quot;breadcrumbs-item&quot;&gt;
        &lt;a class=&quot;breadcrumbs-item__link&quot; href=&quot;/&quot;&gt;Home&lt;/a&gt;
      &lt;/li&gt;
      &lt;li class=&quot;breadcrumbs-item&quot;&gt;
        &lt;a class=&quot;breadcrumbs-item__link&quot; href=&quot;/category&quot;&gt;Category&lt;/a&gt;
      &lt;/li&gt;
      &lt;li class=&quot;breadcrumbs-item&quot;&gt;
        Product
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/nav&gt;

  // STYLUS
  &lt;style lang=&quot;stylus&quot;&gt;
  .breadcrumb
    list-style none

  .breadcrumbs-item
    display inline

  .breadcrumbs-item+.breadcrumbs-item:before
    content &#x60;/&#x60;
  &lt;/style&gt;
</code>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
            </v-card>
          </v-expansion-panel-content>
          <v-expansion-panel-content>
            <template v-slot:header>
              <p>Пример 2: Meta</p>
            </template>
            <v-card>
              <v-card-text>
                <v-container>
                  <v-layout>
                    <v-flex xs6>
                      <p>Код староверов:</p>
<code class="px-4">
  &lt;div itemscope itemtype=&quot;http://schema.org/Organization&quot; style=&quot;display: none&quot;&gt;
    &lt;span itemprop=&quot;name&quot;&gt;1PS.RU&lt;/span&gt;
    &lt;div itemprop=&quot;address&quot; itemscope itemtype=&quot;http://schema.org/PostalAddress&quot;&gt;
      &lt;span itemprop=&quot;postalCode&quot;&gt;664033&lt;/span&gt;,
      &lt;span itemprop=&quot;addressLocality&quot;&gt;Иркутск&lt;/span&gt;,
      &lt;span itemprop=&quot;streetAddress&quot;&gt;ул. Академическая, 28/6&lt;/span&gt;
    &lt;/div&gt;
    &lt;span itemprop=&quot;telephone&quot;&gt;+7 (3952) 420-535&lt;/span&gt;,
    &lt;span itemprop=&quot;email&quot;&gt;admin@1ps.ru&lt;/span&gt;
  &lt;/div&gt;
</code>
                    </v-flex>
                    <v-flex xs6>
                      <p>Код новой школы:</p>
<code class="px-4">
  &lt;script type=&quot;application/ld+json&quot;&gt;
  {
  &quot;@context&quot;: &quot;http://schema.org&quot;,
  &quot;@type&quot;: &quot;Organization&quot;,
  &quot;address&quot;: {
    &quot;@type&quot;: &quot;PostalAddress&quot;,
    &quot;addressLocality&quot;: &quot;Иркутск&quot;,
    &quot;postalCode&quot;: &quot;664033&quot;,
    &quot;streetAddress&quot;: &quot;ул. Академическая, 28/6&quot;
  },
  &quot;email&quot;: &quot;admin@1ps.ru&quot;,
  &quot;name&quot;: &quot;1PS.RU&quot;,
  &quot;telephone&quot;: &quot;+7 (3952) 420-535&quot;
  }
  &lt;/script&gt;
</code>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-flex>
    </v-layout>
  </v-container>
</template>
