<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-expansion-panel focusable popout :value="0">
          <v-expansion-panel-content>
            <template v-slot:header>
              <h3>Рекомендация: Уменьшите влияние стороннего кода</h3>
            </template>
            <v-card>
              <v-card-text>
                <p>
                  Сторонние коды это всё, что не имеет прямого отношения непосредственно к вашему сайту: реклама,
                  аналитика, трекеры, кнопки социальных сетей, переход на Youtube и так далее. Эти сторонние сценарии
                  могут иметь решающее значение для функциональности сайта или потока доходов. К примеру — рекламные
                  ссылки и банеры. Но сторонние сценарии также сопряжены с целым рядом рисков, на которые нельзя не
                  обращать внимание. А значит, необходимо свести эти риски к минимуму, при этом не потеряв пользы от
                  них.
                </p>
                <p>Чем могут навредить сторонние коды и почему стоит быть с ними внимательным:</p>
                <ul>
                  <li>
                    Снижают производительность сайта
                  </li>
                  <li>
                    Снижают уровень конфиденциальности пользователей
                  </li>
                  <li>
                    Могут нести в себе вредоносные файлы
                  </li>
                  <li>
                    Могут быть непредсказуемыми и меняться без вашего на то согласия
                  </li>
                  <li>
                    Последствия их использования могут быть непредвиденными
                  </li>
                </ul>
              </v-card-text>
            </v-card>
          </v-expansion-panel-content>
          <v-expansion-panel-content>
            <template v-slot:header>
              <div>Решение</div>
            </template>
            <v-card>
              <v-card-text>
                <ul>
                  <li>
                    Загрузите код, используя атрибуты <code>async</code> для скриптов одиночек или <code>defer</code>
                    для зависимых друг от друга скриптов, во избежание блокировки анализа документа.
                  </li>
                  <li>Рассмотрите возможность самостоятельного размещения кода, если сторонний сервер работает
                    медленно.
                  </li>
                  <li>
                    Рассмотрите возможности использования
                    <code>&lt;link rel=preconnect&gt;</code>
                    или
                    <code>&lt;link rel=dns-prefetch&gt;</code>
                    для выполнения поиска DNS для доменов, содержащих сторонние сценари
                  </li>
                  <p>Все сторонние коды и сценарии необходимо запускать асинхронно, чтобы они не блокировали DOM, и
                    анализ HTML-документа продолжался. </p>
                </ul>
                <v-btn
                  absolute
                  dark
                  fab
                  bottom
                  right
                  color="primary"
                  :to="{name: 'pagespeed-cache'}"
                  nuxt
                >
                  <v-icon>keyboard_arrow_right</v-icon>
                </v-btn>
              </v-card-text>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-flex>
    </v-layout>
  </v-container>
</template>
