<template></template>
<script>
  export default {
    name: 'Error',
    computed: {
      success() {
        return this.$store.getters.success;
      },
      error() {
        return this.$store.getters.error;
      },
      notice() {
        return this.$store.getters.notice;
      },
    },
    watch: {
      success(value) {
        if (!value) {
          return;
        }
        this.$swal({
          timer: 5000,
          title: 'Success!',
          text: Boolean(typeof value === 'string') ? value : value.response.data.message,
          icon: 'success'
        });
      },
      error(value) {
        if (!value) {
          return;
        }
        this.$swal({
          timer: 5000,
          title: 'Error!',
          text:  Boolean(typeof value === 'string') ? value : value.response.data.message,
          icon: 'error'
        });
      },
      notice(value) {
        if (!value) {
          return;
        }
        this.$swal({
          timer: 5000,
          title: 'Warning!',
          text: Boolean(typeof value === 'string') ? value : value.response.data.message,
          icon: 'warning'
        });
      },
    },
  };
</script>
