<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs8 offset-xs2>
        <app-bulls-and-cows-input/>
        <app-bulls-and-cows-timeline v-if="steps && steps.length" :steps="steps"></app-bulls-and-cows-timeline>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex';
  import AppBullsAndCowsInput from '~/components/bulls-and-cows/input.vue';
  import AppBullsAndCowsTimeline from '~/components/bulls-and-cows/timeline.vue';

  export default {
    components: {
      AppBullsAndCowsInput,
      AppBullsAndCowsTimeline
    },
    computed: {
      ...mapGetters({
        hiddenNumber: 'bulls-and-cows/hiddenNumber',
        steps: 'bulls-and-cows/steps',
        stepsCount: 'bulls-and-cows/stepsCount'
      })
    },
    methods: {

    }
  }
</script>
