<template>
  <v-flex ma-3>
    <p>Быки и коровы — логическая игра, в ходе которой за несколько попыток один из игроков должен определить, что
      задумал другой игрок. Варианты игры могут зависеть от типа отгадываемой последовательности — это могут быть числа,
      цвета, пиктограммы или слова. После каждой попытки задумавший игрок выставляет «оценку», указывая количество
      угаданного без совпадения с их позициями (количество «коров») и полных совпадений (количество «быков»). Роли
      участников игры не равнозначны — угадывающий должен анализировать сделанные попытки и полученные оценки, то есть
      его роль активна. Его партнёр лишь сравнивает очередной вариант с задуманным и выставляет оценку по формальным
      правилам, то есть его роль пассивна. Для уравновешивания ролей одновременно играют две встречные партии.</p>
    <p>Первоначально игра была задумана для двух игроков, но с появлением компьютерных версий стал популярен вариант,
      когда игрок отгадывает число, задуманное программой, то есть играет в одиночку. Для игры вдвоем достаточно иметь
      бумагу и ручку. В электронных версиях игру на расстоянии против противника обеспечивает функция
      многопользовательской игры (multiplayer).</p>
    <v-btn
      color="light-green lighten-1"
      flat
      nuxt
      :to="{name: 'bulls-and-cows-game'}"
    >Начать игру</v-btn>
  </v-flex>
</template>
