<template>
  <v-flex ma-3>
    <h3>Правила игры:</h3>
    <p>В классическом варианте игра рассчитана на двух игроков. Каждый из игроков задумывает и записывает тайное
      4-значное число с неповторяющимися цифрами[1]. Игрок, который начинает игру по жребию, делает первую попытку
      отгадать число. Попытка — это 4-значное число с неповторяющимися цифрами, сообщаемое противнику. Противник
      сообщает в ответ, сколько цифр угадано без совпадения с их позициями в тайном числе (то есть количество коров) и
      сколько угадано вплоть до позиции в тайном числе (то есть количество быков). Например:
    </p>
    <p>Задумано тайное число <code>3219</code>.</p>
    <p>Попытка: <code>2310</code>.</p>
    <p>Результат: две «коровы» (две цифры: «2» и «3» — угаданы на неверных позициях) и один «бык» (одна цифра «1»
      угадана вплоть до позиции).</p>
    <p>Игроки делают попытки угадать по очереди. Побеждает тот, кто угадает число первым, при условии, что он не начинал
      игру. Если же отгадавший начинал игру — его противнику предоставляется последний шанс угадать
      последовательность.</p>
    <p>При игре против компьютера игрок вводит комбинации одну за другой, пока не отгадает всю последовательность.</p>
    <v-card-actions>
      <v-spacer />
      <v-btn
        color="primary"
        flat
        nuxt
        :to="{name: 'bulls-and-cows-game'}"
      >Начать игру</v-btn>
    </v-card-actions>
  </v-flex>
</template>
