<template>
  <v-flex ma-3>
    <v-text-field
      v-model.number="settings.counter"
      label="Количество угадываемых символов"
      :append-icon="settings.counter ? 'send' : ''"
      box
      type="number"
      @click:append="save"
      max="9"
      min="4"
      step="1"
    >
    </v-text-field>
  </v-flex>
</template>

<script>
  export default {
    asyncData({store}) {
      const settings = store.getters['bulls-and-cows/settings'];
      return {
        settings: Object.assign({},settings)
      }
    },
    methods: {
      save() {
        let payload = Object.assign({},this.settings);
        if (payload.counter > 9) {
          payload.counter = 9;
        }
        if (payload.counter < 4) {
          payload.counter = 4;
        }
        this.settings.counter = payload.counter;
        this.$store.dispatch('bulls-and-cows/setSettings', payload);
      }
    }
  }
</script>
