<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <app-message/>
      <v-list>
        <template v-for="(item, i) in items">
          <v-list-tile
            v-if="item.type !== 'group'"
            :to="item.to"
            router
            nuxt
            exact
          >
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title v-text="item.title"/>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-group v-else :prepend-icon="item.icon">
            <template v-slot:activator>
              <v-list-tile>
                <v-list-tile-content>{{item.title}}</v-list-tile-content>
              </v-list-tile>
            </template>

            <v-list-tile
              v-for="subItem in item.items"
              :key="subItem.title"
              :to="subItem.to"
            >
              <v-list-tile-action>
                <v-icon>{{ subItem.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-group>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar :clipped-left="clipped" fixed app>
      <v-toolbar-side-icon @click="drawer = !drawer"/>
      <v-btn @click.stop="miniVariant = !miniVariant" icon>
        <v-icon>{{ `chevron_${miniVariant ? 'right' : 'left'}` }}</v-icon>
      </v-btn>
      <v-btn @click.stop="clipped = !clipped" icon>
        <v-icon>web</v-icon>
      </v-btn>
      <v-toolbar-title>
        <span class="red--text typed-cursor"><</span>
        <span class="text--black">lna</span>
        <span class="red--text">/></span>
      </v-toolbar-title>
      <v-spacer/>
    </v-toolbar>
    <v-content>
      <v-container fluid fill-height pa-0>
        <v-layout justify-center>
          <nuxt/>
        </v-layout>
      </v-container>
    </v-content>
    <v-footer :fixed="fixed" app>
      <span class="ml-5">&copy; lna 2020</span>
    </v-footer>
  </v-app>
</template>

<script>
  import AppMessage from '~/components/common/Message';

  export default {
    components: {
      AppMessage
    },
    data() {
      return {
        clipped:     true,
        drawer:      true,
        fixed:       false,
        items:       [
          {
            icon:  'apps',
            title: 'Welcome',
            to:    '/'
          },
          {
            icon:  'videogame_asset',
            title: 'Bulls ans cows',
            to:    {name: 'bulls-and-cows'}
          },
          {
            icon:  'speed',
            title: 'Pagespeed',
            type:  'group',
            items: [
              {
                icon:  'wrap_text',
                title: 'Font fallback',
                to:    {name: 'pagespeed-font-fallback'}
              },
              {
                icon:  'code',
                title: 'Third-party code',
                to:    {name: 'pagespeed-third-party-code'}
              },
              {
                icon:  'save',
                title: 'Cache settings',
                to:    {name: 'pagespeed-cache'}
              },
              {
                icon:  'av_timer',
                title: 'Minimize main thread',
                to:    {name: 'pagespeed-minimize-main-thread'}
              },
              {
                icon:  'layers',
                title: 'Reducing size DOM structure',
                to:    {name: 'pagespeed-reducing-size-dom-structure'}
              }
            ]
          }
        ],
        miniVariant: true,
        right:       true,
      }
    }
  }
</script>

<style lang="stylus">
  .page-enter-active,
  .page-leave-active
    transition opacity .5s

  .page-enter,
  .page-leave-active
    opacity 0

  .typed-cursor
    position relative
    padding-right 6px

  .typed-cursor:after
    content ''
    height 100%
    width 2px
    background gray
    position absolute
    right 0
    opacity: 1
    -webkit-animation: blink 1.5s infinite
    -moz-animation: blink 1.5s infinite
    animation: blink 1.5s infinite


  @keyframes blink
    0%
      opacity: 1
    50%
      opacity 1
    55%
      opacity 0
    60%
      opacity: 0
    70%
      opacity 1
    100%
      opacity: 1

  @-webkit-keyframes blink
    0%
      opacity: 1
    50%
      opacity 1
    55%
      opacity 0
    60%
      opacity: 0
    70%
      opacity 1
    100%
      opacity: 1


  @-moz-keyframes blink
    0%
      opacity: 1
    50%
      opacity 1
    55%
      opacity 0
    60%
      opacity: 0
    70%
      opacity 1
    100%
      opacity: 1
</style>
