<template>
  <v-flex>
    <v-toolbar>
      <v-toolbar-title>Игра "Быки и коровы"</v-toolbar-title>
      <v-divider
        class="mx-2"
        inset
        vertical
      ></v-divider>
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" dark class="mb-2" :to="{name: 'bulls-and-cows-rules'}" nuxt>Правила игры</v-btn>
      <v-btn color="yellow darken-1" dark class="mb-2" :to="{name: 'bulls-and-cows-settings'}" nuxt>Настройки</v-btn>
      <v-btn color="light-green"
             exact-active-class="d-none"
             dark class="mb-2"
             :to="{name: 'bulls-and-cows-game'}"
             nuxt>{{hiddenNumber && stepsCount ? 'Продолжить игру' : 'Новая игра'}}
      </v-btn>
      <v-btn v-if="stepsCount && !isHiddenNumberSolved" color="error" exact-active-class="d-none" dark class="mb-2" @click="goToHome">
        Сдаться
      </v-btn>
      <v-btn v-if="$nuxt.$route.name === 'bulls-and-cows-game' && isHiddenNumberSolved" color="light-green" exact-active-class="d-none" dark class="mb-2" @click="restartGame">
        Новая игра
      </v-btn>
    </v-toolbar>
    <nuxt-child/>
  </v-flex>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex';

  export default {
    computed: {
      ...mapGetters({
        hiddenNumber: 'bulls-and-cows/hiddenNumber',
        stepsCount: 'bulls-and-cows/stepsCount',
        isHiddenNumberSolved: 'bulls-and-cows/isHiddenNumberSolved'
      }),
    },
    methods: {
      ...mapActions({
        resetBullsAndCows: 'bulls-and-cows/reset'
      }),
      goToHome() {
        this.resetBullsAndCows();
        this.$router.push({name: 'bulls-and-cows'});
      },
      restartGame() {
        this.resetBullsAndCows();
        this.$router.push({name: 'bulls-and-cows-game'});
      }
    }
  }
</script>
