<template>
  <v-layout
    column
    justify-center
    align-center
  >
    <v-flex
      xs12
      sm8
      md6
    >
      <v-card>
        <v-card-title class="headline">Добро пожаловать в приложение внерабочей активности Лощенина Никиты.</v-card-title>
        <v-card-text>
          <p>Используйте навигационное меню слева для перемещения по урокам.</p>
          <p>Приложение работает на базе
            <a href="https://nuxtjs.org/" target="_blank" title="Nuxt.js documentation">Nuxt.js Framework</a> +
            <a href="https://vuetifyjs.com" target="_blank" title="Vuetify.js documentation">Vuetify.js Front-end Framework</a>
            .
          </p>
          <p>Ссылка на приложение: <a href="https://gitlab.com/lna1989/homework">https://gitlab.com/lna1989/homework</a></p>
          <p>Приятного времяпроведения!</p>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            flat
            nuxt
            to="/bulls-and-cows"
          >Перейти к первому уроку</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {}
</script>
