<template>
  <v-flex>
    <v-toolbar>
      <v-toolbar-title>Pagespeed:
        <v-menu open-on-hover bottom small offset-y>
          <template v-slot:activator="{ on }">
            <v-btn
              color="primary"
              dark
              v-on="on"
              flat
            >
              {{pageTitle}}
            </v-btn>
          </template>
          <v-list>
            <v-list-tile
              v-for="(item) in items"
              :key="item.title"
              :to="item.to"
            >
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <nuxt-child/>
  </v-flex>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex';

  let pageData = {
    'pagespeed-font-fallback':               'Настройте показ всего текста во время загрузки веб-шрифтов',
    'pagespeed-third-party-code':            'Уменьшите влияние стороннего кода',
    'pagespeed-cache':                       'Задайте правила эффективного использования кеша для статических объектов',
    'pagespeed-minimize-main-thread':        'Минимизируйте работу в основном потоке',
    'pagespeed-reducing-size-dom-structure': 'Сокращение размера структуры DOM',
  }

  export default {
    data() {
      return {
        items: [
          {
            icon:  'wrap_text',
            title: 'Font fallback',
            to:    {name: 'pagespeed-font-fallback'}
          },
          {
            icon:  'code',
            title: 'Third-party code',
            to:    {name: 'pagespeed-third-party-code'}
          },
          {
            icon:  'save',
            title: 'Cache settings',
            to:    {name: 'pagespeed-cache'}
          },
          {
            icon:  'av_timer',
            title: 'Minimize main thread',
            to:    {name: 'pagespeed-minimize-main-thread'}
          },
          {
            icon:  'layers',
            title: 'Reducing size DOM structure',
            to:    {name: 'pagespeed-reducing-size-dom-structure'}
          }
        ]
      }
    },
    computed: {
      pageTitle() {
        return pageData[this.$route.name] || 'Pagespeed';
      }
    },
    methods:  {}
  }
</script>
